# rename this file to variables.env and fill in real values
#
# NOTE: NEVER COMMIT variables.env to git repository
#

NODE_ENV=development|staging|production
DATABASE=mongodb://user:password@host:port/db_name
PORT=7777
GA_TRACKING_ID=id
MAILCHIMP_LIST_ID=id
